<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Malumotlar</h1>
    <ul>
        <% for(const ele of datas){%>
        <li><%= ele.carOwner%>
            <%= ele.carMark%> 
            <%= ele.carNum%> <%= ele.date%></li>
        <%}%>
    </ul>
</body>
</html>