<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Parking</title>
    <style>
        .form{
            padding: 300px;
            display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
        }
</style>
</head>
<body>
    
    <form id="addCarForm" class="form">
        <h1>Online Parking System</h1>
        <input type="text" id="carLocation" placeholder="Mashina nomeri">
        <input type="text" id="carMark" placeholder="Mashina modeli">
        <input type="text" id="carOwner" placeholder="Ismingiz">

        <button type="submit">Mashina qoshish</button>
    </form>
    <script src="/js/script.js"></script>
</body>
</html>
